// box
.btn-box-1 {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  padding:8px 16px 20px 16px;
  border-top:1px solid #a3a3a4;
  background-color:#fff;
  z-index:9;
  > div {
    display:flex;
    justify-content: space-between;
    &.two {
      button[type='button'].button {
        width:49%;
        padding:0;
      }
    }
    &.three {
      button[type='button'].button {
        width:31%;
        padding:0;
      }
    }
  }
}

// button
button[type='button'].button,
a.button,
input[type='submit'] {
  // reset
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  border-color: transparent;

  font-family: inherit;
  background: transparent;

  appearance: none;

  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  font-family: inherit;
  padding: 0 45px;
  height: 69px;
  color: $color-text;
  font-family: 'Noto Sans KR';
  font-size: rem(24);
  font-weight: 700;
  line-height: 67px;
  text-align: center;
  transition: all ease-in-out 300ms;
  outline: none;

  // color
  &.color-1 {
    color: #fff;
    border: 1px solid #fff;
  }
  &.color-2 {
    color: #242424;
    border: 1px solid #242424;
  }

  // size
  &.size-sm-1 {
    height: 62px;
    line-height: 60px;
    padding: 0 40px;
    font-size: rem(20);
  }

  // display
  &.block {
    display: block;
    width: 100%;
  }
  
  // mobile
  @include mediaQuery($deviceSmall){
    padding: 0 23px;
    height: 35px;
    font-size: rem(13);
    line-height: 33px;

    // size
    &.size-sm-1 {
      height: 35px;
      line-height: 33px;
      padding: 0 22px;
      font-size: rem(13);
    }
  }

}