// box
.btn-box-1 {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  padding:8px 16px 20px 16px;
  border-top:1px solid #a3a3a4;
  background-color:#fff;
  z-index:9;
  > div {
    display:flex;
    justify-content: space-between;
    &.two {
      button[type='button'].button {
        width:49%;
        padding:0;
      }
    }
    &.three {
      button[type='button'].button {
        width:31%;
        padding:0;
      }
    }
  }
}

// button
button[type='button'].button,
a.button,
input[type='submit'] {
  // reset
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  border-color: transparent;

  font-family: inherit;
  background: transparent;

  appearance: none;

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  font-family: inherit;
  padding: 0 45px;
  height: 69px;
  color: $color-text;
  font-family: 'Noto Sans KR';
  font-size: rem(24);
  font-weight: 700;
  line-height: 67px;
  text-align: center;
  transition: all ease-in-out 600ms;
  outline: none;
  overflow: hidden;

  // color
  &.color-1 {
    color: #fff;
    border: 1px solid #fff;

    > span {
      position: relative;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: all ease-in-out 600ms;
    }

    // pc
    @include mediaQuery($deviceLarge){
      &:hover {
        color: $color-point-1;
        &:before {
          box-shadow: 0 0 40px 40px #fff inset;
        }
      }
      &.type-1:hover {
        color: $color-point-2;
      }
    }
  }
  &.color-2 {
    color: #242424;
    border: 1px solid #242424;

    > span {
      position: relative;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: all ease-in-out 600ms;
    }

    // pc
    @include mediaQuery($deviceLarge){
      &:hover {
        color: #fff;
        &:before {
          box-shadow: 0 0 40px 40px #242424 inset;
        }
      }
    }
  }

  // size
  &.size-sm-1 {
    height: 62px;
    line-height: 60px;
    padding: 0 40px;
    font-size: rem(20);
  }

  // display
  &.block {
    display: block;
    width: 100%;
  }
  
  // mobile
  @include mediaQuery($deviceSmall){
    padding: 0 23px;
    height: 35px;
    font-size: rem(13);
    line-height: 33px;

    // size
    &.size-sm-1 {
      height: 35px;
      line-height: 33px;
      padding: 0 22px;
      font-size: rem(13);
    }
  }

}