#footer {
  position: relative;
  font-family: 'Noto Sans KR';
  z-index: 2;
  .foot-ask {
    background-color: #f4f4f4;
    > div {
      position: relative;
      max-width: 990px;
      margin: 0 auto;
      padding: 115px 0 180px 0;
    }

    .title-type-1 {
      > span {
        color: #1E1E1E;
        font-family: 'EsaManru';
      }
      .line {
        span {
          background-color: #1E1E1E;
        }
      }
    }
    .tel-email {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 0 0;
      line-height: 1.2;
      .tit {
        color: #1E1E1E;
        font-size: rem(24);
        font-weight: 900;
      }
      .num {
        margin-top: 10px;
        color: $color-point-2;
        font-family: 'Montserrat';
        font-size: rem(43);
        font-weight: 700;
      }
      .txt {
        margin-top: 10px;
        color: #b1b1b1;
        font-size: rem(24);
        font-weight: 900;
      }
      .txt-email {
        margin-top: 10px;
        color: #1E1E1E;
        font-family: 'Montserrat';
        font-size: rem(30);
        font-weight: 700;
      }
    }
    .btn-kakaotalk {
      position: absolute;
      left: 4px;
      bottom: 98px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 215px;
      height: 48px;
      color: #191600;
      font-size: rem(19);
      font-weight: 700;
      line-height: 1.3;
      border-radius: 8px;
      background-color: #FEE500;
      img {
        width: 21px;
        margin-right: 4px;
      }
    }
  }


  .foot {
    background-color: $color-point-1;
    > div {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
      padding: 38px 0 38px 0;
      .foot-link {
        position: absolute;
        top: 38px;
        left: 635px;
        display: flex;
        li {
          margin: 0 20px;
          a {
            display: block;
            color: #fff;
            font-size: rem(20);
            line-height: 1.2;
          }
        }
      }
    }
    h2 {
      img {
        width: 256px;
      }
    }
    .copy {
      margin-top: 13px;
      color: #fff;
      font-size: rem(16);
    }
  }


  // mobile
  @include mediaQuery($deviceSmall){
    .foot-ask {
      > div {
        padding: 40px 20px 96px 20px;
      }
  
      .tel-email {
        flex-flow: column;
        padding: 10px 0 0 0;
        .tit {
          font-size: rem(14);
        }
        .num {
          margin-top: 4px;
          font-size: rem(30);
        }
        .txt {
          margin: 4px 0 20px;
          font-size: rem(11);
        }
        .txt-email {
          margin-top: 4px;
          font-size: rem(14);
        }
      }
      .btn-kakaotalk {
        left: 20px;
        bottom: 40px;
        width: 158px;
        height: 36px;
        font-size: rem(14);
        img {
          width: 16px;
          margin-right: 0;
        }
      }
    }
  
  
    .foot {
      > div {
        padding: 40px 20px;
        text-align: center;
        .foot-link {
          display: none;
        }
      }
      h2 {
        img {
          width: 183px;
        }
      }
      .copy {
        margin-top: 20px;
        font-size: rem(12);
      }
    }
  }


}