// CSS Grid layout
html,
body {
  height: 100%;
}

body {

  background-color:#f9f9f9;

  &.over-hidden {
    overflow: hidden;
  }
}

// wrap
#wrap {
  
}

// container
.container-1 {
  max-width:990px;
  margin:0 auto;
}

// floating
.floating-talk {
  position: fixed;
  bottom: 10px;
  right: 50px;
  a {
    display: flex;
    align-items: center;
    img {
      position: relative;
    }
    span {
      display: flex;
      align-items: center;
      height: 51px;
      margin-left: -39px;
      padding: 0 20px 0 44px;
      font-family: 'Noto Sans KR';
      font-size: rem(18);
      background-color: #fff;
      border-radius: 30px;
    }
  }
}

.pc-only {
  // mobile
  @include mediaQuery($deviceSmall){
    display: none;
  }
}
.m-only {
  display: none;
  // mobile
  @include mediaQuery($deviceSmall){
    display: block;
  }
}