<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title><!--@@var title-->어나더컴퍼니</title>

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="keywords" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <!-- <link rel="alternate" href="http://" hreflang="ko" /> -->

  <meta property="og:title" content="어나더컴퍼니">
  <meta property="og:description" content="진로교육 콘텐츠 개발 전문 교육회사입니다. 석사 이상의 전문 연구진이 색다른 미래형 교육 콘텐츠를 개발하고, 공급합니다.">
  <meta property="og:image" content="./og_image.png">
  <meta property="og:url" content="https://www.anothercompany.co.kr">

  <meta name="robots" content="index,follow">
  <meta name="naver-site-verification" content="bbff241564f13f60276176ef7bcee0a4cb926a6e" />
  <link rel="canonical" href="https://www.anothercompany.co.kr">
  <meta name="description" content="진로교육 콘텐츠 개발 전문 교육회사입니다. 석사 이상의 전문 연구진이 색다른 미래형 교육 콘텐츠를 개발하고, 공급합니다.">

  <link rel="apple-touch-icon" sizes="57x57" href="./apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="./android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
	<link rel="manifest" href="./manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./ms-icon-144x144.png">
  
  <link rel="stylesheet" href="./css/style.css">

</head>

<body>

  <!-- wrap -->
  <div id="wrap">

    <header id="header">
      <div>
        <h1>
          <a href="./index.html" class="logo"></a>
        </h1>
        <a href="" class="menu">
          <span></span>
        </a>
        <div class="gnb-box">
          <nav id="gnb">
            <ul>
              <li class="<!--@@var gnb1-->"><a href="./index.html">홈</a></li>
              <li class="<!--@@var gnb2-->">
                <a href="campSimulation.html">진로캠프</a>
                <ul>
                  <li><a href="./campSimulation.html" class="<!--@@var gnb2_1-->">시뮬레이션 진로캠프 소개</a></li>
                  <li><a href="./campStudio.html" class="<!--@@var gnb2_2-->">비전욕망설계 – 수상한스튜디오</a></li>
                  <li><a href="./campLand.html" class="<!--@@var gnb2_3-->">기업가정신 – 어나더랜드</a></li>
                  <li><a href="./campCode5.html" class="<!--@@var gnb2_4-->">직무매칭 빅게임 – 코드5</a></li>
                  <li><a href="./campEmployment.html" class="<!--@@var gnb2_5-->">진로역량발산 - 취업조작단</a></li>
                  <li><a href="./campCounsel.html" class="<!--@@var gnb2_6-->">고교학점제 – 어나더 비밀상담소</a></li>
                </ul>
              </li>
              <!-- <a class="<!--@@var gnb3-->"><a href="">교구들</a></a> -->
              <li class="<!--@@var gnb4-->"><a href="./crew.html">강사(어나더크루)소개</a></li>
              <li class="<!--@@var gnb5-->"><a href="./company.html">회사소개</a></li>
            </ul>
          </nav>
          <a href="http://pf.kakao.com/_qxlKeb" target="_blank" class="btn-kakaotalk">
            <img src="./images/ico_kakaotalk.svg" alt="">
            카카오톡 문의하기
          </a>
        </div>
      </div>
    </header>

    <div id="container">
      <!--@@placeholder = contents -->
    </div>

    <footer id="footer">
      <div class="foot-ask">
        <div>
          <h2 class="title-type-1">
            <span>
              <span data-aos="zoom-in-right" data-aos-duration="500">문</span>
              <span data-aos="zoom-in-right" data-aos-duration="550">의</span>
              <span data-aos="zoom-in-right" data-aos-duration="600">하</span>
              <span data-aos="zoom-in-right" data-aos-duration="650">기</span>
            </span>
            <span class="line" data-aos="fade"><span></span></span>
          </h2>
          <div class="tel-email" data-aos="fade-up" data-aos-duration="1000">
            <div class="tel">
              <p class="tit">문의 전화</p>
              <p class="num">02-6953-1718</p>
              <p class="txt">평일 09:00 ~ 18:00 (주말 및 공휴일 휴무)</p> 
            </div>
            <div class="email">
              <p class="tit">e-mail</p>
              <p class="txt-email">help@anothercompany.co.kr</p>
            </div>
          </div>
          <a href="http://pf.kakao.com/_qxlKeb" target="_blank" class="btn-kakaotalk" data-aos="fade-up" data-aos-duration="1000">
            <img src="./images/ico_kakaotalk.svg" alt="">
            카카오톡 문의하기
          </a>
        </div>
      </div>

      <div class="foot">
        <div>
          <h2>㈜어나더컴퍼니 그룹</h2>
          <div class="foot-text">
            <p>
              <strong>사업자등록번호</strong> ㅣ 485-86-02106
            </p>
            <p>
              <strong>대표이사</strong> ㅣ 김혜람 승영걸
            </p>
            <address>서울시 구로구 디지털로33길 48 대륭포스트타워7차 509호</address>
            <p>
              <strong>대표번호</strong> ㅣ 02-6953-1718
            </p>
          </div>
          <p class="copy">Copyright © 2022 Another Company.  All rights reserved.</p>        
          <ul class="foot-link">
            <li><a href="./index.html">홈</a></li>
            <li><a href="./campSimulation.html">진로캠프</a></li>
            <!-- <li><a href="">교구몰</a></li> -->
            <li><a href="./crew.html">강사소개</a></li>
            <li><a href="./campany.html">회사소개</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <!-- //wrap -->

  <!-- jquery cdn -->
  <script src="./js/jquery-1.12.4.js"></script>
  <script src="./js/slick.min.js"></script>
  <script src="./js/aos.js"></script>
  <script src="./js/ui_js.js"></script>

  <!--@@placeholder = script -->
</body>

</html>